:root {
  --text-color: #757575;
  --tittle-text-color: #212121;
  --alt-text-color: #2196f3;
  --background-color: #ffffff;
  --alt-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --primal-margin: 94px;
  --flex-primal-margin: 30px;
}
body {
  /* margin-left: auto;
  margin-right: auto;
  max-width: 1600px; */
  min-width: 1200px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.center {
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* SOCIAL-LINK */

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* **Header** */

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  color: #000000;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.main-nav > .logo.link {
  margin-right: 93px;
}
.logo-alt {
  color: var(--alt-text-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header .main-nav {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}
.nav-item .header-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header .nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation .link.current {
  color: var(--alt-text-color);
}
.header-navigation .link {
  color: var(--tittle-text-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}
.header-contacts .header-link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  padding-bottom: 32px;
  padding-top: 32px;
}
.header .header-link:focus,
.header .header-link:hover {
  color: var(--alt-text-color);
}
.header {
  border-bottom: 1px solid #ececec;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

/* ** Main ** */

.section-title,
.title {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  color: var(--tittle-text-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* HERO */

.hero {
  /* width: 1600px;
  padding: 200px 452px; */

  background-color: var(--dark-background-color);
  text-align: center;
}
.hero.section {
  padding-bottom: 0px;
  padding-top: 0px;
}
.hero-title {
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
  min-width: 696px;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--background-color);
  background: var(--alt-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}
.hero-button:focus,
.hero-button:hover {
  color: var(--tittle-text-color);
  background: var(--alt-background-color);
}
.hero .bg-image {
  padding-bottom: 200px;
  padding-top: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}

/* Features */

.features-title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-description {
  line-height: 1.71;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: calc((100% - 3 * var(--flex-primal-margin)) / 4);
}
.features-box {
  padding: 25px 100px;
  background: var(--alt-background-color);
  border-radius: 4px;
  margin-bottom: var(--flex-primal-margin);
}
.features-icon {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit; */
  height: 70px;
  width: 70px;
}
/* .features-item::before {
  content: "";
  margin-bottom: var(--flex-primal-margin);
  height: 120px;
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}
.features-item:first-child::before {
  background-image: url(../images/svg/antenna.svg);
}
.features-item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}
.features-item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}
.features-item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
} */
/* .features-item:not(:last-child) {
  margin-right: 30px;
}  */

/* Works */

.section.works {
  padding-top: 0;
}
.works-title,
.regular-title {
  margin-bottom: 50px;
}
.works-list {
  display: flex;
  justify-content: space-between;
}
/* .works-item {
  width: calc((100% - 60 px) / 3);
}
.works-item + .works-item {
  margin-left: 30px;
} */

/* .works-item > img {
  display: block;
} */

/* Team */

.team {
  background-color: var(--alt-background-color);
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-image {
  margin-bottom: 30px;
}
.team .section-title {
  margin-bottom: 50px;
}

.team .team-item {
  /* width: calc((100% - 90px) / 4); */
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

/* .team .team-item:not(:last-child) {
  margin-right: 30px;
} */

.team-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 32px;
  padding-left: 32px;
}
.team-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}
.team-box:hover,
.team-box:focus {
  background-color: var(--alt-text-color);
  color: var(--background-color);
}
/* .team-icon:hover,
.team-icon:focus {
  fill: currentColor
} */
.team-social .team-box + .team-box {
  margin-left: 10px;
}

/* REGULAR */

.regular-list {
  display: flex;
  justify-content: space-between;
}
.regular-box {
  width: 170px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.regular-box:hover,
.regular-box:focus {
  border-color: var(--alt-text-color);
  color: var(--alt-text-color);
}
.regular-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.regular-item a {
  color: inherit;
}

/* ** Portfolio Main ** */

.examples-button {
  padding: 6px 22px;
  color: var(--tittle-text-color);
  background-color: var(--alt-background-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.examples-button:hover,
.examples-button:focus {
  color: var(--background-color);
  background-color: var(--alt-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples .title {
  /* padding-left: 24px; */
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-type {
  /* padding-left: 24px; */
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* .example-images {
  display: block;
} */
/* .example-cards li {
  padding-bottom: 20px;
} */
.example-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.example-item:hover,
.example-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .example-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--flex-primal-margin));
  margin-right: calc(-1 * var(--flex-primal-margin));
}
.example-cards > .example-item {
  flex-basis: calc(100% / 3 - var(--flex-primal-margin));
  margin-right: var(--flex-primal-margin);
  margin-bottom: var(--flex-primal-margin);
}
/* .examples .example-item {
  width: calc((100% - 60px) / 3);
}
.examples .example-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.examples .example-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.examle-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* ** Footer ** */

.down {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}
.down .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--background-color);
}
.address-links .link {
  font-style: normal;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}
.address-links .map-link.link {
  margin-bottom: 9px;
  color: var(--background-color);
}
.address-links .link:hover,
.address-links .link:focus {
  color: var(--alt-text-color);
}
.address-links li:nth-child(2) {
  margin-bottom: 9px;
}

section.section {
  padding-top: var(--primal-margin);
  padding-bottom: var(--primal-margin);
}

.conect-box {
  margin-left: 70px;
  /* margin-top: 12px; - если не использовать 
  центрирование по вертикали */
}

.conect {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.futer-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.futer-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.futer-box:hover,
.futer-box:focus {
  background-color: var(--alt-text-color);
}
.down .container {
  display: flex;
  align-items: center;
}
/* .team-icon:hover,
.team-icon:focus {
  fill: currentColor
} */
.futer-social .futer-box + .futer-box {
  margin-left: 10px;
}
